.sponsors {
    width: 100%;
    padding: 55px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.sponsors {
    padding: 4.681vw 20px;
    column-gap: 3.404vw;
}