.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #ababab5d;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    padding: 50px 100px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    max-width: 560px;
    width: 100%;
}

.inner input {
    display: block;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    border-radius: 10px;
    border: unset;
    outline: unset;
    background-color: #ececec;
    width: 100%;
    margin: 10px 0;
    color: #000;
    min-width: 300px;
}

.inner button {
    background-color: #ab84ff;
    padding: 20px 35px;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    outline: unset;
    border: unset;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
    margin-top: 20px;
}

.inner button:hover {
    background-color: #a166ff;
}

.inner span {
    color: red;
    display: block;
    text-align: left;
}